In [1]:
import pandas as pd

In [3]:
!pip install pandas openpyxl

Requirement already satisfied: pandas in /home/animesh/miniconda3/lib/python3.10/site-packages (2.1.1)
Requirement already satisfied: openpyxl in /home/animesh/miniconda3/lib/python3.10/site-packages (3.0.10)
Requirement already satisfied: numpy>=1.22.4 in /home/animesh/miniconda3/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/animesh/miniconda3/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/animesh/miniconda3/lib/python3.10/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /home/animesh/miniconda3/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: et_xmlfile in /home/animesh/miniconda3/lib/python3.10/site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in /home/animesh/miniconda3/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [13]:
df = pd.read_excel('survey.xlsx')
df
print(df.columns)

Index(['Name', 'Nationality', 'Sex', 'Age', 'Handedness'], dtype='object')

In [15]:
pd.crosstab(df.Sex,[df.Nationality,df.Handedness],margins=True)

Nationality Bangadesh China       India        USA       All
Handedness       Left  Left Right  Left Right Left Right
Sex
Female              1     1     1     0     0    0     2   5
Male                1     1     0     2     1    1     1   7
All                 2     2     1     2     1    1     3  12

In [16]:
pd.crosstab([df.Nationality,df.Handedness],df.Sex,margins=True)

Sex                     Female  Male  All
Nationality Handedness
Bangadesh   Left             1     1    2
China       Left             1     1    2
            Right            1     0    1
India       Left             0     2    2
            Right            0     1    1
USA         Left             0     1    1
            Right            2     1    3
All                          5     7   12

In [17]:
pd.crosstab(df.Sex,df.Handedness,margins=True)

Handedness  Left  Right  All
Sex
Female         2      3    5
Male           5      2    7
All            7      5   12