In [1]:
import pandas as pd

In [7]:
y = pd.Period('2023')
print(dir(y))
y

['__add__', '__array_priority__', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__radd__', '__reduce__', '__reduce_ex__', '__repr__', '__rsub__', '__setattr__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__weakref__', '_add_offset', '_add_timedeltalike_scalar', '_dtype', '_from_ordinal', '_maybe_convert_freq', '_require_matching_freq', 'asfreq', 'day', 'day_of_week', 'day_of_year', 'dayofweek', 'dayofyear', 'days_in_month', 'daysinmonth', 'end_time', 'freq', 'freqstr', 'hour', 'is_leap_year', 'minute', 'month', 'now', 'ordinal', 'quarter', 'qyear', 'second', 'start_time', 'strftime', 'to_timestamp', 'week', 'weekday', 'weekofyear', 'year']

Period('2023', 'A-DEC')

In [9]:
print(y.start_time)
print(y.end_time)

2023-01-01 00:00:00
2023-12-31 23:59:59.999999999

### monthly time period

In [11]:
m = pd.Period('2023-01', freq='M')
m

Period('2023-01', 'M')

In [13]:
print(m.start_time)
print(m.end_time)

2023-01-01 00:00:00
2023-01-31 23:59:59.999999999

In [15]:
# + 1 month
print(m + 1)

2023-02

### daily time period

In [16]:
d = pd.Period('2023-02-28', freq='D')
d

Period('2023-02-28', 'D')

In [17]:
d+1

Period('2023-03-01', 'D')

### hourly frequency

In [21]:
h= pd.Period('2023-02-28 23:00:00', freq='H')
print(h.start_time)
print(h.end_time)
h

2023-02-28 23:00:00
2023-02-28 23:59:59.999999999

Period('2023-02-28 23:00', 'H')

In [20]:
h+1

Period('2023-03-01 00:00', 'H')

### quarterly frequency

Q-DEC means quarter end frequency with year ending in December.

In [24]:
q= pd.Period('2023Q1')
print(q.start_time)
print(q.end_time)
q

2023-01-01 00:00:00
2023-03-31 23:59:59.999999999

Period('2023Q1', 'Q-DEC')

In [37]:
q2 = pd.Period('2024Q2')
print(q2.start_time)
print(q2.end_time)
q2

2024-04-01 00:00:00
2024-06-30 23:59:59.999999999

Period('2024Q2', 'Q-DEC')

we can perform arithmetic operations on the time series data.

In [38]:
print(q2-q) # 5 quarters

<5 * QuarterEnds: startingMonth=12>

we can customize the quarterly end month.This representing the first quarter of the year 2023 with a fiscal year starting in January.

In [65]:
q_jan = pd.Period('2023Q1',freq='Q-JAN')
# q_jan = pd.Period('2023Q4',freq='Q-JAN')
print(q_jan.start_time)
print(q_jan.end_time)
q_jan

2022-02-01 00:00:00
2022-04-30 23:59:59.999999999

Period('2023Q1', 'Q-JAN')

Because the the quatre end is january, we can see that we given year 2023 but it come under 2022-2023. so, we can see the **first quarter of 2023** is start from `2022-FEB-01` to `2022-APR-30`.(3 month = 1 quarter) all the way 4th quarter is `2022-NOV-01` to `2023-JAN-31`.

In [45]:
idx= pd.period_range('2020', '2024', freq='Q-JAN')
idx

PeriodIndex(['2020Q4', '2021Q1', '2021Q2', '2021Q3', '2021Q4', '2022Q1',
             '2022Q2', '2022Q3', '2022Q4', '2023Q1', '2023Q2', '2023Q3',
             '2023Q4', '2024Q1', '2024Q2', '2024Q3', '2024Q4'],
            dtype='period[Q-JAN]')

In [46]:
import numpy as np

create a random time series data.

In [47]:
ps = pd.Series(np.random.randn(len(idx)), idx)
ps

2020Q4    0.565850
2021Q1    0.062400
2021Q2   -1.085568
2021Q3   -2.480632
2021Q4    0.943310
2022Q1    0.547880
2022Q2    1.057620
2022Q3   -1.113632
2022Q4   -0.723446
2023Q1    0.576122
2023Q2    0.193135
2023Q3    1.547683
2023Q4    1.207176
2024Q1    1.076457
2024Q2    0.618895
2024Q3   -1.057781
2024Q4   -1.441899
Freq: Q-JAN, dtype: float64

In [48]:
ps.index

PeriodIndex(['2020Q4', '2021Q1', '2021Q2', '2021Q3', '2021Q4', '2022Q1',
             '2022Q2', '2022Q3', '2022Q4', '2023Q1', '2023Q2', '2023Q3',
             '2023Q4', '2024Q1', '2024Q2', '2024Q3', '2024Q4'],
            dtype='period[Q-JAN]')

In [49]:
ps['2023']

2023Q4    1.207176
2024Q1    1.076457
2024Q2    0.618895
2024Q3   -1.057781
2024Q4   -1.441899
Freq: Q-JAN, dtype: float64

In [50]:
ps['2020':'2021']

2020Q4    0.565850
2021Q1    0.062400
2021Q2   -1.085568
2021Q3   -2.480632
2021Q4    0.943310
2022Q1    0.547880
2022Q2    1.057620
2022Q3   -1.113632
2022Q4   -0.723446
Freq: Q-JAN, dtype: float64

In [52]:
pst= ps.to_timestamp()
pst

2019-11-01    0.565850
2020-02-01    0.062400
2020-05-01   -1.085568
2020-08-01   -2.480632
2020-11-01    0.943310
2021-02-01    0.547880
2021-05-01    1.057620
2021-08-01   -1.113632
2021-11-01   -0.723446
2022-02-01    0.576122
2022-05-01    0.193135
2022-08-01    1.547683
2022-11-01    1.207176
2023-02-01    1.076457
2023-05-01    0.618895
2023-08-01   -1.057781
2023-11-01   -1.441899
Freq: QS-NOV, dtype: float64

In [66]:
pst.index

DatetimeIndex(['2019-11-01', '2020-02-01', '2020-05-01', '2020-08-01',
               '2020-11-01', '2021-02-01', '2021-05-01', '2021-08-01',
               '2021-11-01', '2022-02-01', '2022-05-01', '2022-08-01',
               '2022-11-01', '2023-02-01', '2023-05-01', '2023-08-01',
               '2023-11-01'],
              dtype='datetime64[ns]', freq='QS-NOV')

In [67]:
# you can convert back to period
pst.to_period()

2019Q4    0.565850
2020Q1    0.062400
2020Q2   -1.085568
2020Q3   -2.480632
2020Q4    0.943310
2021Q1    0.547880
2021Q2    1.057620
2021Q3   -1.113632
2021Q4   -0.723446
2022Q1    0.576122
2022Q2    0.193135
2022Q3    1.547683
2022Q4    1.207176
2023Q1    1.076457
2023Q2    0.618895
2023Q3   -1.057781
2023Q4   -1.441899
Freq: Q-DEC, dtype: float64

In [68]:
df = pd.read_csv('wmt.csv')
df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

Making `Line Item` as index

In [70]:
df.set_index('Line Item',inplace=True)
df

           2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
Line Item
Revenue    115904  120854  118179  130936  117542
Expenses    86544   89485   87484   97743   87688
Profit      29360   31369   30695   33193   29854

transpose the data frame

In [73]:
df=df.T
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [76]:
df.index=pd.PeriodIndex(df.index, freq='Q-JAN')
df.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]')

In [84]:
df['start date']=df.index.map(lambda x: x.start_time)
df

Line Item  Revenue  Expenses  Profit start date
2017Q1      115904     86544   29360 2016-02-01
2017Q2      120854     89485   31369 2016-05-01
2017Q3      118179     87484   30695 2016-08-01
2017Q4      130936     97743   33193 2016-11-01
2018Q1      117542     87688   29854 2017-02-01

In [85]:
df['end date']=df.index.map(lambda x: x.end_time)
df

Line Item  Revenue  Expenses  Profit start date                      end date
2017Q1      115904     86544   29360 2016-02-01 2016-04-30 23:59:59.999999999
2017Q2      120854     89485   31369 2016-05-01 2016-07-31 23:59:59.999999999
2017Q3      118179     87484   30695 2016-08-01 2016-10-31 23:59:59.999999999
2017Q4      130936     97743   33193 2016-11-01 2017-01-31 23:59:59.999999999
2018Q1      117542     87688   29854 2017-02-01 2017-04-30 23:59:59.999999999