In [2]:
import pandas as pd

In [7]:
df = pd.read_csv('jul-2021.csv')
df.head()

     Open    High     Low   Close     Volume
0  136.60  137.33  135.76  137.27   52485781
1  137.90  140.00  137.75  139.96   78945572
2  140.07  143.15  140.07  142.02  108181793
3  143.54  144.89  142.66  144.57  104911589
4  141.58  144.06  140.67  143.24  105575458

In [4]:
pd.date_range(start='2021-07-01', end='2021-07-31', freq='B')

DatetimeIndex(['2021-07-01', '2021-07-02', '2021-07-05', '2021-07-06',
               '2021-07-07', '2021-07-08', '2021-07-09', '2021-07-12',
               '2021-07-13', '2021-07-14', '2021-07-15', '2021-07-16',
               '2021-07-19', '2021-07-20', '2021-07-21', '2021-07-22',
               '2021-07-23', '2021-07-26', '2021-07-27', '2021-07-28',
               '2021-07-29', '2021-07-30'],
              dtype='datetime64[ns]', freq='B')

In [5]:
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

In [6]:
usb = CustomBusinessDay(calendar=USFederalHolidayCalendar())
usb

In [9]:
rng=pd.date_range(start='2021-07-01', end='2021-07-31', freq=usb)
rng

DatetimeIndex(['2021-07-01', '2021-07-02', '2021-07-06', '2021-07-07',
               '2021-07-08', '2021-07-09', '2021-07-12', '2021-07-13',
               '2021-07-14', '2021-07-15', '2021-07-16', '2021-07-19',
               '2021-07-20', '2021-07-21', '2021-07-22', '2021-07-23',
               '2021-07-26', '2021-07-27', '2021-07-28', '2021-07-29',
               '2021-07-30'],
              dtype='datetime64[ns]', freq='C')

In [11]:
df.set_index(rng, inplace=True)
df.head()

              Open    High     Low   Close     Volume
2021-07-01  136.60  137.33  135.76  137.27   52485781
2021-07-02  137.90  140.00  137.75  139.96   78945572
2021-07-06  140.07  143.15  140.07  142.02  108181793
2021-07-07  143.54  144.89  142.66  144.57  104911589
2021-07-08  141.58  144.06  140.67  143.24  105575458

[custom calender function](https://github.com/pandas-dev/pandas/blob/main/pandas/tseries/holiday.py#L602)

`observance=nearest_workday` is used to get the nearest workday if the holiday falls on a weekend.

In [18]:
from pandas.tseries.holiday import AbstractHolidayCalendar, nearest_workday, Holiday
class MyCutomCalender(AbstractHolidayCalendar):
    """
    US Federal Government Holiday Calendar based on rules specified by:
    https://www.opm.gov/policy-data-oversight/pay-leave/federal-holidays/
    """

    rules = [
        Holiday("My holiday", month=2, day=15), # observance=nearest_workday),
    ]
myc = CustomBusinessDay(calendar=MyCutomCalender())
myc

In [19]:
cust_rng=pd.date_range(start='2024-02-01', end='2024-02-29', freq=myc)
cust_rng

DatetimeIndex(['2024-02-01', '2024-02-02', '2024-02-05', '2024-02-06',
               '2024-02-07', '2024-02-08', '2024-02-09', '2024-02-12',
               '2024-02-13', '2024-02-14', '2024-02-16', '2024-02-19',
               '2024-02-20', '2024-02-21', '2024-02-22', '2024-02-23',
               '2024-02-26', '2024-02-27', '2024-02-28', '2024-02-29'],
              dtype='datetime64[ns]', freq='C')

### Custom weekend

In [20]:
b = CustomBusinessDay(weekmask='Sun Mon Tue Wed Thu')
pd.date_range(start='2024-02-01', end='2024-02-29', freq=b)

DatetimeIndex(['2024-02-01', '2024-02-04', '2024-02-05', '2024-02-06',
               '2024-02-07', '2024-02-08', '2024-02-11', '2024-02-12',
               '2024-02-13', '2024-02-14', '2024-02-15', '2024-02-18',
               '2024-02-19', '2024-02-20', '2024-02-21', '2024-02-22',
               '2024-02-25', '2024-02-26', '2024-02-27', '2024-02-28',
               '2024-02-29'],
              dtype='datetime64[ns]', freq='C')